{% extends 'base.html' %}

{% block content %}
<pre><font size=2>
Third Eye Security system offer reliable, high quality security system for
all type of Industries, corporate house, offices, residential and domestic.
We also take integrated project on turnkey basis. 
We are equipped to take on any size of Integrated System projects 
and achieve the targeted completions well within the required time frame. 
Our valued client must know that work with third eye is more professional, 
less risky and way to execute their project with their own experience engineer and technician.

Third Eye must also able to charging reasonable price and given higher value to its client. 
We are providing all of some prestigious brand and popular products of international standard. 
The product represent us themselves speak Quality. We have been offering standard and quality equipment 
to our valued clients, which has track record of proven performance backed and with our prompt after sales services, 
so far we have had the privilege to retain our valued clients at various locations. With our team experience of 10+ years in the industry.

Thank you very much to give us chance to studied your requirement, 
including the site condition and submit Commercial Quote has been carefully worked out 
with assurance of best suitable solution with full technical support. 
We hope that you will give us an opportunity to work together in line with your requirement 
and expect a positive reciprocation from your end.
</font></pre>
{% endblock %}