<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" 
      type="image/png" 
      href="icon.jpg">
  {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> {% endcomment %}
  <title>Home: Third Eye</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

<div class="jumbotron text-center">
<h1><font color="Amit">Third Eye</font></h1>
    <p>Third Eye is the monitoring of behavior, activities, or information for the purpose of influencing, managing or directing.</p>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Third Eye</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="Download">Download</a></li>
      <li><a href="About">About</a></li>
      <li><a href="Contact">Contact</a></li>
    </ul>
  </div>
</nav>

        {% block content %}
        
        {% endblock  %}
</div>
</body>
</html>
